 /* Navbar */
 /* .navbar-brand {
    position: absolute;
    width: 77px;
    height: 33px; */
 /* left: 107px;
    top: 28.7px; */

 /* font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px; */
 /* identical to box height */

 /* letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;

 } */

 .navbar-2 {
    background-color: #FFB548;
 }

 .nav-link {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-right: 30px;

    color: #FFFFFF;
 }

 .konten-atas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 72px;
    font-family: Arial;
    /* background-color: rgba(255, 0, 0, 0.1); */
    height: 90%;
 }

 .konten-atas p {
    margin: 20px auto;
    font-weight: 400;
    line-height: 25px;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .main-container {
    background-image: url(../img/main-bg.jpg);

    width: 100%;
    height: 100vh;
    background-size: cover;
 }

 .konten-bawah {
    width: 100%;
    height: 10%;
    /* background-color: rgba(25, 236, 236, 0.1); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;

 }

 .main-2 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/the-games-bg.jpg);
    display: flex;


 }

 .main-2kiri {
    color: #FFFFFF;
    /* background-color: rgba(251, 15, 15, 0.1); */
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;

 }

 .main-2kanan {
    /* background-color: rgba(0, 255, 255, 0.1); */
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
 }

 .main-3 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/features.jpg);
    display: flex;
    justify-content: right;

 }

 .features {
    /* background-color: rgba(255, 0, 0, 0.1); */
    width: 40%;
    height: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .features h5 {
    color: #FFB548;
    margin-top: 40px;
    margin-bottom: 40px;

 }

 .judul {
    margin-bottom: 60px;
 }

 .main-4 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/requirements.png);

 }

 .main-4-atas {
    width: 100%;
    height: 10%;
    /* background-color: rgba(255, 0, 0, 0.1); */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #FFFFFF;
 }

 .main-4-bawah {
    width: 50%;
    height: 80%;
    /* background-color: rgba(255, 0, 0, 0.1); */
    color: #FFFFFF;
    margin-left: 100px;

 }


 .kotak {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(165, 239, 19, 0.1); */
    width: 100%;
    height: 80%;


 }

 .baris {
    width: 100%;
    height: 33%;
    /* background-color: rgba(0, 128, 0, 0.1); */
    display: flex;

 }

 .content-dalam {
    width: 50%;
    height: 100%;
    border: solid 1px #FFFFFF;


 }

 .content-dalam-bawah {
    width: 100%;
    height: 100%;
    border: solid 1px #FFFFFF;

 }

 .content-dalam h4 {
    color: #FFB548;
 }

 .content-dalam-bawah h4 {
    color: #FFB548;
 }

 .features-item {
    border-left: 1px solid white;
    padding: 100px 50px;
    margin-left: 5px;
    margin-top: -45px;

 }

 .features h5 {
    /* padding-left: 50px; */
    margin-top: -10px;
 }

 .features h5::before {
    width: 10px;
    height: 10px;
    display: inline-block;
    content: "";
    background-image: url(../img/ellipse.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 50px;

 }

 .main-5 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/top-score-bg.png);
    display: flex;


 }

 .main-5-kiri {
    width: 50%;
    height: 100%;
    /* background-color: rgba(255, 0, 0, 0.1); */
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .main-kanan-5 {
    width: 50%;
    height: 100%;
    /* background-color: rgba(0, 0, 255, 0.1); */
    display: flex;
    align-items: center;


 }

 .border-3 {
    width: 100%;
    height: 80%;


 }

 .baris {
    width: 100%;
    height: 33%;
    /* border: solid 1px white; */

 }

 .kartu1 {
    /* background-color:#4d4040; */

    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 40%;
 }

 .baris-dalam-1 {
    width: 100%;
    height: 40%;
    /* border: solid 1px white; */
    display: flex;
 }

 .baris-dalam {
    width: 100%;
    height: 30%;
    /* border: solid 1px white; */
 }

 .foto {
    width: 20%;
    height: 100%;
    /* border: solid 1px white */
 }

 .nama {
    width: 70%;
    height: 100%;
    /* border: solid 1px white; */
    padding-left: 20px;
    color: #FFFFFF;


 }

 .logo {
    width: 10%;
    height: 100%;
    /* border: solid 1px white; */

 }

 .foto img {
    border-radius: 50%;
    box-shadow: 5px 5px #FFB548;
    width: 50px;
    height: 50px;
 }

 .nama h5 {
    color: #FFB548;
 }

 .baris-dalam p {
    color: #FFFFFF;
 }

 .baris-dalam h5 {
    font-size: 10px;
    color: #FFFFFF;
 }

 .kartu2 {
    background-color: #4d4040;

    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 10%;

 }

 .kartu1 {
    background-color: #4d4040;

    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 10%;
 }


 .main-6 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/newsletter.png);
    display: flex;


 }

 .gambar-kiri {
    width: 50%;
    height: 100%;
    /* background-color: rgba(255, 0, 0, 0.1) */
    ;
    display: flex;
    justify-content: end;
    align-items: center;
 }

 .konten-kanan {

    width: 40%;
    height: 100%;
    color: #FFFFFF;
    margin-top: 10%;


 }

 .gambar-kiri img {
    width: 445.47px;
    height: 694.41px;

 }

 .konten-kanan h3 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .konten-kanan h1 {
    font-size: 65px;
 }

 .tombol-bawah {
    width: 50%;
    height: 100%;
    /* background-color: rgba(255, 0, 0, 0.1); */
    color: #FFFFFF;
    display: flex;
    margin-left: 2%;
    align-items: center;
    justify-content: center
 }

 footer {}

 .layar-dalam {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between ; */
    width: 70%;


 }

 #contact {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    font-family: open Sans;
    font-size: small;
    height: 100px;




 }

 .layar-dalam-atas {
    /* background-color: #FFB548; */
    display: flex;
    justify-content: end;
    width: 100%;
    height: 50%;
    align-items: center;
    text-align: center;
    border-bottom: solid 1px white;
 }

 .layar-dalam-atas p,
 img {
    padding-left: 5px;
    padding-right: 5px;
 }

 .layar-dalam-atas p {
    padding-top: 5px;


 }

 .layar-dalam-bawah {
    width: 100%;
    height: 50%;
    display: flex;


 }

 .layar-bawah-kiri {
    width: 50%;
    height: 100%;
 }

 .layar-bawah-kanan {
    display: flex;
    justify-content: end;
    width: 50%;
    height: 100%;
 }

 .layar-bawah-kanan a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #FFFFFF;
 }

 @media (max-width : 992px) {
    .main-3 {
       justify-content: center;
    }
    .main-5 {
      flex-direction: column;
    }
    .main-5-kiri {
      width: 100%;
      height: 30%;

    }
    .main-kanan-5 {
     width: 100%;
     height: 70%;
    }

    .border-3 {
      height: 100%;
    }
   .kartu1 {
      height: 95%;
   }
   .kartu2 {
      height: 95%;
   }
   .gambar-kiri img {
      display: none;
   }
   .gambar-kiri {
      width: 0%;
   }
   .layar-dalam-atas p {
      display: none;
   }
 }